{% extends "base.html" %}

{% block content %}

<div class="blog-header">
    {% if active_year and active_month %}
        <h1>Archive: {{ active_year }}-{{ "%02d"|format(active_month) }}</h1>

    {% elif active_year %}
        <h1>Archive: {{ active_year }}</h1>

    {% else %}
        <h1>All Posts</h1>
    {% endif %}
</div>

    {% if posts %}
        {% for post in posts %}
        <div class="post-item">
            <h2><a href="{{ url_for('post', slug=post.slug) }}">{{ post.title }}</a></h2>

            <div class="tag-cloud">
                {% for tag in post.tags %}
                <a href="{{ url_for('tag_page', tag=tag) }}">{{ tag }}</a>
                {% endfor %}
            </div>

            <h3>{{ post.date }}</h3>
            
            </div>
        {% endfor %}
    {% else %}
        <p>No posts found.</p>
    {% endif %}

{% endblock %}